/* Change the scrollbar corner (where vertical and horizontal scrollbars meet) */
::-webkit-scrollbar-corner {
    background-color: var(--primary-color);
}

/* Customize the scrollbar buttons (scroll arrows) */
::-webkit-scrollbar-button {
    display: none;
    /* Hide the scrollbar buttons */
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--body-color);
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 6px;
}

/* Change thumb color on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

/* Add a border to the scrollbar track */
::-webkit-scrollbar-track-piece {
    border: 1px solid var(--body-color);
}